body {
  margin: 0;
  padding: 16px 0;
  color: #333;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  counter-reset: number 0;
}

section > h2::before {
  counter-increment: number 1;
  content: counter(number) ". ";
}

a {
  text-decoration: none;
  color: #08c;
}

* {
  box-sizing: border-box;
}

.container {
  width: min(600px, calc(100% - 32px));
  margin: 0 auto;
}

h1 {
  font-size: 20px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

h1 span i {
  font-size: 16px;
  font-weight: normal;
  vertical-align: -4px;
}

h1 span > i {
  color: #ccc;
}

h2 {
  font-size: 18px;
}

p {
  line-height: 1.6;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

label {
  cursor: pointer;
}

li ul {
  list-style-type: disc;
  margin: 8px 0 0 40px;
}

main li label {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

main li input {
  margin-top: 5px;
}

code {
  font-family: mono-space;
  padding: 4px 8px;
  background: #eee;
}

.bi {
  cursor: pointer;
}

.bi-clipboard-check {
  color: green;
}

.hidden {
  visibility: hidden;
}

.to-home {
  text-decoration: none;
  color: #08c;
  font-size: 12px;
}

li > a > .bi-play-btn-fill {
  margin-left: 4px;
  opacity: .5;
}

li > a > .bi-play-btn-fill:hover {
  opacity: 1;
}

section {
  margin-top: 32px;
}

footer {
  padding: 64px 0;
  text-align: center;
}

footer small a {
  color: #ccc;
  font-size: 14px;
}

footer small a img {
  vertical-align: -4px;
}